/*GENERAL*/

body {
  background-color: #FDFDFD
}

#container {
  margin-bottom: 50px;
}

.wrapper {
  background-color: white;
  box-shadow: -10px -10px 10px silver, 10px 10px 10px silver, 10px -10px 10px silver, -10px 10px 10px silver;
  padding: 20px;
  margin: 0 10px;
}

button {
  background-color: #FF9AB7;
  color: white;
  border: none;
}

input:focus {
  outline: none !important;
  box-shadow: 0 0 5px silver;
}

hr {
  color: silver;
  background-color: silver;
  border-color: silver;
}

.alt_hr {
  color: #FFE89A;
  background-color: inherit;
  border-color: #FFE89A;
  border-width: thick;
  border-style: dashed;
  margin: 40px 0 20px;
}

.add_object {
  background-color: lightgrey;
  padding: 20px 30px 30px;
}

/*HEADER*/

#header {
  background-color: #FF9AB7;
  overflow:auto;
  margin-top: 40px;
  margin-bottom: 20px;
  overflow:auto;
  color: white;
  padding: 20px 30px 30px 30px;
  text-align: center;
}

#header h1 {
  font-size: 70px;
}

#faux_hair {
  color: #FFE89A;
}

.glyphicon-scissors {
  color: white;
}

/*TABLES*/

table {
  width: 100%;
  border: 1px solid black;
  clear: both;
  /*background-color: lightblue;*/
}

td {
  border: 1px solid black;
  padding: 5px;
}

#table_nav_stylist {
  font-weight: bold;
  background-color: #4CE8CB;
}

#table_nav_client {
  font-weight: bold;
  background-color: #BA73E2;
}

#stylist_button {
  background-color: #4CE8CB;
  color: white;
  border: none;
}

#client_button {
  background-color: #BA73E2;
  color: white;
  border: none;
}

.table_title {
  float: left;
  margin-right: 10px;
  margin-top: 0px;
}

.add_prompt {
  color: #FF9AB7;
}

.delete_button {
  background-color: silver;
  border: none;
  color: white;
}

.edit_client_input, .edit_stylist_input, #save_changes {
  display: none;
}
